body{
  background: #A0522D;
}
#search{
  margin-top: 55px;
}
.wikiDiv{
  margin-top: 55px;
}
.wikiDiv a{
  width: 99%;
  background: #fff;
  text-decoration: none;
  padding: 20px 30px;
  text-align: justify;
  margin-bottom: 20px;
}
.animation{
  animation-name: expand;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes expand{
    0%{
      opacity: 0;
      transform: rotateY(-90deg) rotate(-90deg) translate(30px);
    }
    100%{
      opacity: 1
      transform: rotateY(-90deg) rotate(0deg) translate(0px);
    }
}
#placeing{
  margin-bottom: 25px;
}
.wikiDiv a h1{
  color: #A0522D;
  font-size: 34px;
  font-family: 'Titillium Web', sans-serif;
}
.wikiDiv a p{
  color: #A0522D;
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
}
#wikiData{
  display: none;
}
